@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 66px;
}

.navi {
  background: rgb(8, 38, 90);
  background: linear-gradient(
    90deg,
    rgba(8, 38, 90, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding-bottom: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.name {
  font-family: "Kelly Slab", cursive;
  font-size: 2rem;
}

.login {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form h3 {
  margin: 0.5rem 0 1rem 0;
}

.login form .inp,
.login form button {
  width: 100%;
}

.login form button {
  margin: 1rem auto;
}

.show {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.berobo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.gradient-custom {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background: rgb(8, 38, 90);
  background: -webkit-linear-gradient(
    to right bottom,
    rgba(8, 38, 90, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    to right bottom,
    rgba(8, 38, 90, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.uprofile {
  height: 90vh;
}
