@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

body {
  margin-top: 66px;
}

.navi {
  padding-bottom: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.name {
  font-family: "Geo", sans-serif;
  font-size: 2rem;
}

.berhobo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.login {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form h3 {
  margin: 0.5rem 0 1rem 0;
}

.login form .inp,
.login form button {
  width: 100%;
}

.login form button {
  margin: 1rem auto;
}
