@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 66px;
}

#ld {
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 1050;
}

.threedots {
  margin: 0.25rem;
  scale: 0.75;
}

.navi {
  padding-bottom: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.name {
  font-family: "Bangers", cursive;
  font-size: 2rem;
}

.pad {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#mn {
  margin: auto;
  width: 75%;
}

#mn h1 {
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
}

.hrule {
  margin: 0.25rem auto;
}

.bsdw {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.qty {
  margin-left: 0.2rem;
  font-size: 1rem;
  border: 0.1rem solid #f1f1f1;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  width: 2.75rem;
}

.add {
  margin-left: auto;
}

.berhobo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.login {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .buid {
  width: 40%;
}

.login form .logsvg {
  fill: #000000;
  scale: 2;
}

.login form h3 {
  margin: 0.5rem 0 1rem 0;
}

.login form .inp,
.login form button {
  width: 100%;
}

.login form .confirm {
  margin-top: 1rem;
}

.login form button {
  margin: 1rem auto;
}

.login form p a {
  text-decoration: none;
  font-weight: bold;
}

.show {
  position: absolute;
  bottom: 25px;
  right: 25px;
}